@import '../../index.scss';

.carousel-container {
    display: flex;
    vertical-align: center;
    align-items: center;
    background-color: $text-normal;
    border-top: 10px $text-secondary solid;
    border-top: 10px $text-secondary solid;
    // padding: 30px 0 30px 0;
  }
  
  .carousel-title {
    color: $text-normal;
    -webkit-text-stroke: 1px crimson;
    width: 40%;
    text-align: center;
    font-size: 1.8em;
    padding: 0 0 0 1em;
  }
  
  .slide-container {
    height: 80%;
    border-radius: 40px;
    border: 10px $text-secondary solid;
    overflow: hidden;
    position: relative;
    cursor: pointer;
  }
  
  .slide-container a img {
    object-fit: contain;
    transition: all 0.2s ease-in-out;
  }
  
  .slide-container:hover a img {
    transform: scale(1.2);
    opacity: 0.7;
  }
  
  .slide-desc {
    background-color: $text-secondary;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    padding-left: 30px;
    border-top-left-radius: 20px;
    opacity: 0.8;
  }
  
  .slide-desc > span {
    color: $text-normal;
    display: block;
    font-size: 22px;
    padding: 20px 0 20px 10px;
  }
  
  .BrainhubCarousel__arrows {
    background-color: $text-normal;
    border-radius: 50%;
    margin: 20px;
  }
  
  .BrainhubCarousel__arrows > span {
    border-color: $text-secondary;
  }
  
  .BrainhubCarousel__arrows:hover {
    background-color: $text-normal !important;
  }
  
  .BrainhubCarousel__arrows:hover > span {
    border-color: $text-secondary !important;
  }
  
  @media only screen and (max-width: 960px) {
    .carousel-container {
      flex-direction: column;
    }
  
    .carousel-title {
      width: 100%;
      text-align: center;
      padding: 50px 0 0 0;
    }
  
    .slide-container {
      width: 100%;
    }
  }