@import '../../index.scss';

.time-container {
    background: url('../../assets/media/pexels-road1.mp4');
    padding-top: 5%;
}

.time-video {
  object-fit: cover;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background: black;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

.endpoint {
    font-size: 6em;
    text-align: center;
    -webkit-text-stroke: 1px $text-imp;
    color: transparent;
}
.title {
    font-size: 12em;
    text-align: center;
    -webkit-text-stroke: 1px $text-imp;
    color: transparent;
  }
.btnfiltro {
  text-align: center;
    &__todo{
      background-color: rgba($text-imp, 0.1);
      opacity: 50%;
      color: white;
      font-weight: 700;
      padding: .5% 2%;
      border: 2px outset $text-imp;
      width: 10%;
      border-radius: .6em 0 0 .6em;
    }
    &__laboral{
      background-color: rgba(#277c6e, 0.1);
      opacity: 50%;
      color: white;
      font-weight: 700;
      padding: .5% 2%;
      border: 2px solid #277c6e;
      width: 10%;
    }
    &__academico{
      background-color: rgba(#c59119, 0.1);
      opacity: 50%;
      color: white;
      font-weight: 700;
      padding: .5% 2%;
      border: 2px solid #c59119;
      width: 10%;
      border-radius: 0 .6em .6em 0;
    }
    &--black{
      color: black;
      opacity: 100%;
    }
}

.btnfiltro__todo:hover,.btnfiltro__todo:focus{
  background: $text-imp;
  color:#fff;
  font-weight: 600;
  transition: background-color 3s ease-out;

}
.btnfiltro__laboral:hover,.btnfiltro__laboral:focus{
  background: #277c6e;
  color:#fff;
  font-weight: 600;
  transition: background-color 3s ease-out;
}
.btnfiltro__academico:hover,.btnfiltro__academico:focus{
  background: #c59119;
  color:#fff;
  font-weight: 600;
  transition: background-color 3s ease-out;
}
  
  h3 {
    padding-top: 0.25em;
  }
.flag {
    height: 1.5em;
}

  .vertical-timeline-element-subtitle{
    padding-top: .5em;
  }

.vertical-timeline-element-content {
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
      0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
    padding: 2em 3em !important;
    //Modifica el color de fondo de la viñeta
    background: rgba(194, 173, 159, 0.6);

  }

  .vertical-timeline-element-content-arrow{
      //Modifica el triangulo que une la viñeta a la línea temporal
     border-right: 1rem solid rgba(194, 173, 159, 0.6);
  }
  
  .date {
    color: rgb(201, 251, 255);
  }

  
  #description {
    margin: 1em 0 1em 0;
  }
  .rolelist {
    margin-bottom: 2em;
  }
  .roles {
    margin: 1.2em;
  }
  
  .button {
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    color: white;
  }
  
  .workButton {
      margin-top: 5em;
      background-color: rgba(#277c6e, 0.3);
      opacity: 50%;
      color: black;
      font-weight: 700;
      padding: 2% 4%;
      border: 3px solid #277c6e;
      width: 10%;
  }
  
  .workButton:hover, .workButton:focus{
    background: #277c6e;
    opacity: 100%;
    color:#fff;
    font-weight: 600;
    transition: background-color 2s ease-out;
  }
  
  .schoolButton {
      margin-top: 5em;
      background-color: rgba(#c59119, 0.3);
      opacity: 50%;
      color: black;
      font-weight: 700;
      padding: 2% 4%;
      border: 3px solid#c59119;
      width: 10%;
  }
  
  .schoolButton:hover, schoolButton:focus{
    background: #c59119;
    opacity: 100%;
    color:#fff;
    font-weight: 600;
    transition: background-color 2s ease-out;
  }
  
  @media only screen and (max-width: 1700px) {
    .vertical-timeline-element-date {
      display: block !important;
      float: none !important;
      color: rgb(44, 44, 44);
      margin-top: 1.5em;
    }
  }

  @media only screen and (max-width: 780px){
    .btnfiltro__todo, .btnfiltro__laboral, .btnfiltro__academico {
      width: 15%;
    }
    .title {
      font-size: 10em;
    }
  }

  @media only screen and (max-width: 600px) {
    .title {
        font-size: 6em;
        text-align: center;
        -webkit-text-stroke: 1px $text-imp;
        color: transparent;
      }
      .endpoint {
        font-size: 6em;
        text-align: center;
        -webkit-text-stroke: 0px $text-imp;
        color: transparent;
    }
    .btnfiltro__academico, .btnfiltro__laboral, .btnfiltro__todo{
      width: 32%
    }
  }

